@import '../../styles/colors';
.jokes-list {
  .jokes-list__item {
    min-height: 64px;
    border-bottom: $list-divider;
  }
  .jokes-list__item--divider {
    border-bottom: $list-divider;
    &:last-child {
      border-bottom: none;
    }
  }
  .jokes-list__item-empty-emoticon {
    font-size: 8em;
  }
  .jokes-list__item-empty {
    color: $link;
  }
  .fade-enter {
    opacity: 0.01;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
  }
}
