@import './colors';

$radius: 0.5rem;
$font-family-sans-serif: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$body-bg: $body-bg-color;
$card-border-width: 0;
$card-border-radius: $radius;
$list-group-border-width: 0;

.card {
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
}
